extends layout

block content
	h1= title
	p Let us help you find the best birth control for your needs.
	button(onclick="quiz()") Take the quiz
	script.
		function quiz() {
			window.location.href = '/Quiz'
		}
	button(onclick = "move()") Explore all options
	script.
		function move(){
			window.location.href = '/options'
		}