doctype html
html
	head
		title Find a Health Center Near You
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src= "https://code.jquery.com/jquery-3.1.1.js", integrity= "sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=", crossorigin= "anonymous")
		script(src= "/js/bootstrap.js")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
	    meta(charset='utf-8')
	    style.
	      /* Always set the map height explicitly to define the size of the div
	      * element that contains the map. */
	      #map {
	      height: 100%;
	      }
	      /* Optional: Makes the sample page fill the window. */
	      html, body {
	      height: 100%;
	      margin: 0;
	      padding: 0;
	      }
	body
			nav.navbar.navbar-default.navbar-static-top
				.container-fluid
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						a.navbar-brand(href='/') Take Control
					ul.nav.navbar-nav
						li
							a(href='/quiz') Quiz 
						li
							a(href='/options') Info
						li
							a(href="https://www.plannedparenthood.org/learn/birth-control") Planned Parenthood

			h1.quiz_title Find a Health Center Near You
			h3.subtitle Based on your location, let's find a place where you can obtain birth control or learn more. 
	    #map
	    script.
	      // Note: This requires that you consent to location sharing when
	      // prompted by your browser. If you see the error "The Geolocation service
	      // failed.", it means you probably did not give permission for the browser to
	      // locate you.
	      function initMap() {
	      var map = new google.maps.Map(document.getElementById('map'), {
	      center: {lat: -34.397, lng: 150.644},
	      zoom: 6
	      });
	      var infoWindow = new google.maps.InfoWindow({map: map});
	      // Try HTML5 geolocation.
	      if (navigator.geolocation) {
	      navigator.geolocation.getCurrentPosition(function(position) {
	      var pos = {
	      lat: position.coords.latitude,
	      lng: position.coords.longitude
	      };
	      infoWindow.setPosition(pos);
	      infoWindow.setContent('Location found.');
	      map.setCenter(pos);
	      }, function() {
	      handleLocationError(true, infoWindow, map.getCenter());
	      });
	      } else {
	      // Browser doesn't support Geolocation
	      handleLocationError(false, infoWindow, map.getCenter());
	      }
	      }
	      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	      infoWindow.setPosition(pos);
	      infoWindow.setContent(browserHasGeolocation ?
	      'Error: The Geolocation service failed.' :
	      'Error: Your browser doesn\'t support geolocation.');
	      }
	    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCA_YPclzEo0OjxP1gSafo4eJgnxRvvKM&callback=initMap')
			
				