doctype html
html
	h1 Based on your quiz, here is a method that might be right for you.

	button(onclick = "move()") Explore all options
	script.
		function move(){
			window.location.href = '/options'
		}