body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
	color: #e05eac;
	text-align: center;
}
p{
	text-align: center;
}
button {
	color: #e05eac;
}